* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    padding: 36px;
}

.form { 
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 17px;
}

.form-input {
    font-family: "Karla", sans-serif;
    border-radius: 9px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form-button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
    color: white;
    border: none;
    cursor: pointer;
}

